
/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    
    
    
/* #Base 960 Grid
================================================== */

    .container                                  { position: relative;  width: 100%; max-width: 940px; margin: 0 auto; padding: 0; font-size:18px;}
    .column, .columns                           { display:inline;float: left;position: relative;margin-left: 1%; margin-right: 1%;}
    .row                                        { margin-bottom: 20px; }
    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }
    /* Base Grid */
    .container .one.column                      { width:6.333%;  }
    .container .two.columns                     { width:14.667%; }
    .container .three.columns                   { width:23.0%; }
    .container .four.columns                    { width:31.333%; }
    .container .five.columns                    { width:39.667%; }
    .container .six.columns                     { width:48.0%; }
    .container .seven.columns                   { width:56.333%; }
    .container .eight.columns                   { width:64.667%; }
    .container .nine.columns                    { width:73.0%; }
    .container .ten.columns                     { width:81.333%; }
    .container .eleven.columns                  { width:89.667%; }
    .container .twelve.columns                  { width:98%; }    
    /* alph or omega */
    .container .one.column.alpha, .container .one.column.omega  { width:7.333%;  }
    .container .two.columns.alpha, .container .two.columns.omega  { width:15.667%; }
    .container .three.columns.alpha, .container .three.columns.omega  { width:24.0%; }
    .container .four.columns.alpha, .container .four.columns.omega  { width:32.333%; }
    .container .five.columns.alpha, .container .five.columns.omega  { width:40.667%; }
    .container .six.columns.alpha, .container .six.columns.omega  { width:49.0%; }
    .container .seven.columns.alpha, .container .seven.columns.omega  { width:57.333%; }
    .container .eight.columns.alpha, .container .eight.columns.omega  { width:65.667%; }
    .container .nine.columns.alpha, .container .eight.columns.omega  { width:74.0%; }
    .container .ten.columns.alpha, .container .ten.columns.omega  { width:82.333%; }
    .container .eleven.columns.alpha, .container .eleven.columns.omega  { width:90.667%; }
    .container .twelve.columns.alpha, .container .twelve.columns.omega  { width:99%; }    
    /* alph and omega */
    .container .one.column.alpha.omega  { width:8.333%;  }
    .container .two.columns.alpha.omega  { width:16.667%; }
    .container .three.columns.alpha.omega  { width:25.0%; }
    .container .four.columns.alpha.omega  { width:33.333%; }
    .container .five.columns.alpha.omega  { width:41.667%; }
    .container .six.columns.alpha.omega  { width:50.0%; }
    .container .seven.columns.alpha.omega  { width:58.333%; }
    .container .eight.columns.alpha.omega  { width:66.667%; }
    .container .nine.columns.alpha.omega  { width:75.0%; }
    .container .ten.columns.alpha.omega  { width:83.333%; }
    .container .eleven.columns.alpha.omega  { width:91.667%; }
    .container .twelve.columns.alpha.omega  { width:100%; } 

    .container .one-third.column                { width: 33%; }
    .container .two-thirds.column               { width: 66%; }

    /* Offsets */
    .container .offset-by-one                   { padding-left:8.333%;  }
    .container .offset-by-two                   { padding-left:16.667%; }
    .container .offset-by-three                 { padding-left:25.0%; }
    .container .offset-by-four                  { padding-left:33.333%; }
    .container .offset-by-five                  { padding-left:41.667%; }
    .container .offset-by-six                   { padding-left:50.0%; }
    .container .offset-by-seven                 { padding-left:58.333%; }
    .container .offset-by-eight                 { padding-left:66.667%; }
    .container .offset-by-nine                  { padding-left:75.0%; }
    .container .offset-by-ten                   { padding-left:83.333%; }
    .container .offset-by-eleven                { padding-left:91.667%; }

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0 1%;
}
img {
  max-width: 100%;
  margin: 0 auto;
}
ul {
  list-style: none outside;
  margin: 0px;
  padding: 0px;
}
h2 {
  font-family: 'Abel',sans-serif; 
}
h2 p {
  padding-top: 3%;
}

a,
a  img{
  text-decoration: none; 
  border: 0;
}
/* generic classes */
.lh0 {
  line-height: 0px;
}
.img-txt {
  line-height: 1.5em;
  vertical-align: middle;
}
.img-txt img{
  width: auto;
  max-width: none;
  font-size: inherit;
  height: 1.5em;
  vertical-align: middle;
}

.button {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 0.6em 1% 0.4em 1%;
  font-family: 'Abel',sans-serif; 
  font-weight: bold;
  /* GRADIENT */
  background: rgb(103,112,114); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3NzA3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(103,112,114,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,112,114,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(103,112,114,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(103,112,114,1) 0%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(103,112,114,1) 0%,rgba(17,17,17,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(103,112,114,1) 0%,rgba(17,17,17,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#677072', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
  /* CORNER RADIUS */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* BOX SHADOWS */ 
  -webkit-box-shadow:  2px 3px 3px .5px rgba(0, 0, 0, .3);
  -moz-box-shadow:  2px 3px 3px .5px rgba(0, 0, 0, .3);
  box-shadow:  2px 3px 3px .5px rgba(0, 0, 0, .3);
  /* TEXT SHADOWS */  
  text-shadow: 1px 1px .3px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);       
}

.left {
  display: inline;
  float: left;
}
.right {
  display: inline;
  float: right;
}
.down-right {
  position: absolute;
  bottom: 0;
  right: 0;
}


/* #Page Styles

================================================== */
/* GoTo stile.css */


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 640px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (min-width: 480px) and (max-width: 639px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	 @media only screen and (max-width: 479px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 960px) {}
	
	
	@media only screen and (min-width: 900px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 640px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (min-width: 480px) and (max-width: 639px) {}

* {
  font-size: 24px;
  font-family: arial;
}

h2 {
  font-size: 1.5em;
} 

body div h3 {
  font-size: 1.1em;  
}

h3 a {
  color: #000000;
  font-size: 1em;  
  font-family: 'Abel',sans-serif; 
  font-weight: bold;
}

p, div, span {
  color: #676767;
}

a {
  color: #cc0000;
}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 480px) {
    * {font-size: 18px;}
  }
	
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 320px) {
    * {font-size: 14px;} 
  }
	
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 240px) {
    * {font-size: 10px;}
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 180px) {
    * {font-size: 7px;}
  }